* {
	box-sizing: border-box;
}

body {
	background-color: $secondaryColor;
	color: $mainColor;
	font-family: 'Roboto', 'Arial', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: $secondaryColor;
}

.center {
	text-align: center;
}

.f-light {
	font-weight: 300;
}

.f-medium {
	font-weight: 400;
}

.f-heavy {
	font-weight: 600;
}

.black {
	color: $secondaryColor;
	background-color: $mainColor;
}