.main-nav {
	
	background-color: $mainColor;
	top: 0;
	z-index: 2;
	width: 100%;
	position: absolute;

	@include atSmall {
		position: relative;
		
	}



	&__toggle-menu {
			display: block;
			padding: .5rem;
			font-size: 1.5rem;
			width: 100%;
			text-align: center;
			position: relative;
			top: 0;
			left: 0;

		@include atSmall {
			font-size: 2rem;
		}	


		@include atMedium {
			display: none;
		}
	}
	&--fixed {
		position: fixed;
	}


	ul {

		margin: 0;
		@include clearfix;
		flex-wrap: wrap;
		display: none;
		width: 100%;
		padding: 10px;
		

		&.is-active {
			transition: all .4s;
			display: flex;
			position: absolute;
			z-index: 2;
			top: 2.5rem;
			left: 0;
			background-color: $mainColor;
		}

		@include atSmall {
			flex-wrap: wrap;
			width: 100%;	
		}

		@include atMedium {
			flex-wrap: nowrap;
			display: flex;
			height: auto;
			padding: 0px;	
		}
	}	

	li {
		flex: 1;
		font-size: 1rem;
		list-style-type: none;
		text-align: center;
		flex-basis: 100%;

		@include atSmall {
			flex-basis: 33%;
		}

		@include atMedium {
			flex-basis: initial;
			font-size: 1.2rem;
		}

		&:hover a {
			background-color: $secondaryColor;
			color: $mainColor;
		}
	}

	&__link {
			&--active {
				@include atMedium {
					border-bottom: .2rem $secondaryColor solid;
					padding-bottom: .8rem;
					margin-bottom: .1rem;
				}
			}
			
			padding: 1rem 0; /*padding has to be romoved from parent li element and put in anchor style for display:block to be working */
			display: block;
		}

}	