.wrapper {
	padding: 48px 18px;
	margin: 0 auto;
	
	@include atLarge {
		padding: 48px 60px;
		
	}
	
	&--no-vertical-padding {
		padding-top: 0;
		padding-bottom: 0;
	}

	&--medium {
		max-width: 970px;
	}
}