.hobbies {
	
	&__hobbies-block {
		background-color: rgba(#fff, .6);
		-webkit-box-shadow: 4px 4px 8px 1px rgba(205,205,205,1);
		-moz-box-shadow: 4px 4px 8px 1px rgba(205,205,205,1);
		box-shadow: 4px 4px 8px 1px rgba(205,205,205,1);
		margin: 2rem auto 0 auto;
		max-width: 800px;
		padding: 1rem;

		&--icon {
			display: block;
			margin: 1rem auto;
			width: 76.7px;

			@include atSmall {
				float: left;
				width: 102px;
				&--inverted {
					float: right;
				}
			}
		}

		&__text {
			&--subtitle {
				font-weight: 300;
				font-size: 1.4rem;
				margin-bottom: .8rem;
				text-align: center;

				@include atSmall {
					text-align: left;
				}
			}

			&--content {
				font-size: .9rem;
				margin-top: .5rem;
				text-align: justify;
			}
			
			@include atSmall {
				margin-left: 102px;
				padding-left: 1rem;
				&--inverted {
					margin-left: auto;
					margin-right: 102px;
					padding-left: auto;
					padding-right: 1rem;
				}
			}

			&--link {
				color: #3aafa9;
				&:hover {
					color: #80DEEA;
				}
			}

			@include clearfix;
		}
	}
}