.details {

	&__title {
		font-weight: 200;
		font-size: 2rem;
		border-left: 3.5px solid $tertiaryColor;
		padding: .3rem 0 .3rem .3rem;

		@mixin atMedium {
			font-size: 2.4rem;
			padding: .7rem 0 .7rem 0.4rem;
			margin-bottom: 0px;
		}
	}

	&__content {
		font-size: .9rem;
		text-align: justify;
		@mixin atMedium {
			font-size: 1rem;
		}
	}

	&__download-buttons {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		font-size: .9rem;

		@mixin atMedium {
			font-size: 1rem;
			flex-wrap: nowrap;
		}

		&__button {

			text-align: center;
			flex-basis: 55%;
			color: $secondaryColor;
			background-color: $mainColor;
			padding: .6rem;
			margin: 1rem;
			border-radius: 10px;

			@mixin atMedium {
				margin: 1.2rem 1rem;
				flex-basis: initial;
			}

			&:hover {
				color: $tertiaryColor;
			}
		}


	}
}