.icon {

	&--head-icon {
		font-size: 2.5rem;
		padding: 18px;
		text-align: center;
		border: 2px solid $tertiaryColor;
		border-radius: 50%;

		@mixin atSmall {
			font-size: 3rem;
			padding: 24px;
		}

		&--cap {
			padding-left: 12.3px;
			padding-right: 12.3px;

			@mixin atSmall {
				padding-left: 17px;
				padding-right: 17px;
			}
		}

		&--card {
			padding-left: 14.5px;
			padding-right: 14.5px;			
			@mixin atSmall {
				padding-left: 20.5px;
				padding-right: 20.5px;
			}
		}
	}
}