.main-header {
	position: relative;
	min-height: 25vh;
	height: 300px;
	background-color: $mainColor;
	z-index: 0;

	@mixin atMedium {
		min-height: 50vh;
		height: 500px;
	}
	
	&__text-content {
		z-index: 2;
		position: absolute;
		color: $secondaryColor;
		text-align: center;
		top: 50%;
		left: 0;
		width: 100%;
		transform: translateY(-50%);
	}

	&__main-title {
		margin: 0px;
		font-size: 2.4rem;
		font-weight: 700;

		@mixin atMedium {
			font-size: 3rem;
			display: inline-block;
		}
		
	}

	&__subtitle {
		
		margin: 0px;		
		font-weight: 300;
		font-size: 2.4rem;

		@mixin atMedium {
			font-size: 3rem;
			display: inline-block;
			padding-left: 1.5rem;
		}
	}
}

