.row {
	@mixin clearfix;
	
	&--t-padding--small {
		padding-top: 1.1rem;
	}

	&--t-padding {
		padding-top: 2rem;
	}

	&__b-margin-until-medium {
		margin-bottom: 1rem;
	}

	@mixin atMedium {
		&__col-medium-8 {
			float: left;
			width: 66.66666%;
		}
		
		&__col-medium-4 {
			float: left;
			width: 33.33333%;
		}

		&__col-medium-4--larger {
			width: 37%;
		}

		&__col-medium-8--smaller {
			width: 63%;
		}

		&__b-margin-until-medium {
			margin-bottom: 0;
		}

		&__col-medium-6 {
			float: left;
			width: 50%;
		}
	}

	@mixin atLarge{
		&__col-large-8 {
			float: left;
			width: 66.66666%;
		}
		
		&__col-large-4 {
			float: left;
			width: 33.33333%;
		}

		&__col-large-4--larger {
			width: 37%;
		}

		&__col-large-8--smaller {
			width: 63%;
		}

		&__b-margin-until-large {
			margin-bottom: 0;
		}

		&__col-large-6 {
			float: left;
			width: 50%;
		}
	}	
	
	&--gutters {
		margin-right: -65px;
	}

	&--gutters-large {
		margin-right: -100px;
	}

	&--gutters > div {
		padding-right: 65px;
	}

	&--gutters-large > div {
		padding-right: 100px;
	}

	&--gutters-small {
		margin-right: -45px;
	}

	&--gutters-small > div {
		padding-right: 45px;
	}

	/*Begin equal height rules*/ 

	.flexbox &--equal-height-at-medium {
		@mixin atMedium {
			display: flex;
		}

		& > div {
			float: none;
			display: flex;
		}
	}


	.flexbox &--equal-height-at-large {
		@mixin atLarge {
			display: flex;
		}

		& > div {
			float: none;
			display: flex;
		}
	}

}